{% extends "layout.html" %}

{% block title %}
    Finish Book
{% endblock %}

{% block main %}
    <h2 class="spaceBottom">
        Finish a Book
    </h2>
    <!-- form that allows user to finish a book that doesnt have a finish date -->
    <form action="/finishBook" method="post">
        <div class="form-group">
            <!-- dropdown of all the unfinished books -->
            <select class="form-control" name="unfinished">
                <option disabled selected value>Unfinished Book</option>
                {% for book in notFinished %}
                    <option value="{{book.title}}">{{book.title}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            Enter the date that you finished the book
        </div>
        <div class="form-group">
            <input class="form-control" type="date"  name="finish" id="finish">
        </div>
        <button class="btn btn-primary" type="submit">Finish the Book</button>
    </form>

    <!-- makes sure the user puts in all the required info before it submits -->
    <script>
        document.querySelector('form').onsubmit = function() {
            if (!document.querySelector('select').value) {
                alert('You must select the book you finished');
                return false;
            }
            else if (!document.querySelector('#finish').value) {
                alert('You must provide the date you finished the book');
                return false;
            }
            return true;
        };
    </script>
{% endblock %}